log4j.logger.ros=INFO

log4j.logger.ros.franka_hw_mujoco=DEBUG
log4j.logger.ros.franka_mujoco=DEBUG
log4j.logger.ros.franka_mujoco.mujoco_sim_proxy=DEBUG
log4j.logger.ros.FrankaMujoco=DEBUG

log4j.logger.ros.mujoco_ros=DEBUG
log4j.logger.ros.mujoco_ros.pluginlib=INFO

log4j.logger.ros.mujoco_ros_control=DEBUG
log4j.logger.ros.mujoco_ros_control.pluginlib=INFO
