<?xml version="1.0"?>
<launch>
    <arg name="pipeline" default="ompl" />

    <arg name="load_gripper" default="true" />
    <arg name="transmission" default="effort" />
    <arg name="paused" default="false" />

    <include file="$(find franka_mujoco)/launch/panda.launch" pass_all_args="true">
        <arg name="use_gripper" default="$(arg load_gripper)" />
        <arg name="controller" default="$(arg transmission)_joint_trajectory_controller" />
        <arg name="unpause" value="$(eval not arg('paused'))" />
        <arg name="rviz"     value="false" />
    </include>

    <!-- <include file="$(find panda_moveit_config)/launch/demo.launch" pass_all_args="true"> -->
    <include file="$(find panda_moveit_config)/launch/demo.launch" pass_all_args="true">
         <!-- Description is already loaded by the mujoco launchfile  -->
        <arg name="load_robot_description" value="false" />
         <!-- Simple controller manager provides ros_control's JointTrajectory controllers as well as GripperCommand actions  -->
        <arg name="moveit_controller_manager" value="simple" />
    </include>
</launch>
